Â ![png](booksmodel.png)

In [24]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
connection_str = "mysql+pymysql://root:TuffyBrunoFreya1998!@localhost/Book"

In [25]:
engine = create_engine(connection_str)
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

In [26]:
import pandas as pd
users = pd.read_csv('/Users/nathandhawale/Books/Users.csv')
author = pd.read_csv('/Users/nathandhawale/Books/Authors.csv')
fav = pd.read_csv('/Users/nathandhawale/Books/Favorites.csv')
books = pd.read_csv('/Users/nathandhawale/Books/Books.csv')

In [27]:
users.to_sql('Users', engine, if_exists = 'replace')
author.to_sql('Authors', engine, if_exists = 'replace')
fav.to_sql('Favorites', engine, if_exists = 'replace')
books.to_sql('Books', engine, if_exists = 'replace')

In [29]:
q = """SELECT * FROM Books LIMIT 5;"""
pd.read_sql(q, engine)

   index  id                 title  author_id
0      0   1           The Shining          1
1      1   2                    It          1
2      2   3      The Great Gatsby          2
3      3   4  The Call of the Wild          3
4      4   5   Pride and Prejudice          4

In [31]:
q = '''SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));'''
pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1